@media (min-width: 0px) and (max-width: 499px){
     body {margin: 2em 10% 1em 10%;
     }
     .imgLg {
     	display: none;
     }
 }

@media (min-width: 500px) and (max-width: 799px){
     body {margin: 2em 17% 1em 17%;
     }
    .imgSm {
     	display: none;
     }
 }

@media (min-width: 800px){
     body {margin: 2em 25% 1em 25%;
     }
    .imgSm {
     	display: none;
     }
 }

body {
	background-color:#F3EEEB;
	font-family: 'Lato', sans-serif;
	color:#323232;
}

h3 {
	margin: 0.1em 0;
}

ul, li {
	margin: 0;
	list-style-type:none
}

.link {
	color:#00ADB5; 
	text-decoration: none;
}

a:hover {
  border-bottom: solid #2A4573 1px;
}

.font-awesome {
  margin: 0.5em auto;
  font-size: 1.2em;
}

.font-awesome a {
  color: #00ADB5;
  margin: 0 0.5em;
}