<!DOCTYPE HTML>
<hmtl lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css"/>
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <title>Kate Rabinowitz</title>
</head>

<body>

  <div class="imgLg"><img src="img/ohhi.jpg" alt="Hi! I'm Kate." style="width: 100%;"></div>
  <div class="imgSm"><img src="img/ohHiSm.jpg" alt="Hi! I'm Kate." style="width: 100%;"></div>

    {{content}}
  
  <div class="font-awesome">
    <a href="mailto:datalensdc@gmail.com"><span class="fa fa-envelope"></span></a>
    <a href="https://twitter.com/dataKateR"><span class="fa fa-twitter"></span></a>
    <a href="https://github.com/katerabinowitz"><span class="fa fa-github"></span></a>
  </div>

</body>

</html>