<!DOCTYPE HTML>
<hmtl lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kate Rabinowitz</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css"/>
</head>

<body>
  <h1>Kate Rabinowitz 
    <a href="https://twitter.com/DataLensDC" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="mailto:datalensdc@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
  </h1>
    <hr id='top-line'>
    <p class="sub-line">Data + visualization lover, documentation + open source fan, healthy skeptic, board game aficionado</p>
    <br>
    <ul class ="headerlist">
        <li><a href="./index.html">Portfolio</a></li>
        <li><i class="fa fa-circle fa-sm" aria-hidden="true" style="font-size:8px;"></i></li>
        <li><a href="./talks.html">Talks</a></li>
        <li><i class="fa fa-circle fa-sm" aria-hidden="true" style="font-size:8px;"></i></li>
        <li><a href="./press.html">Press</a></li>
    </ul>

    <div class="container">
    {{ content }}
    </div>
  
  <footer>
  <br><br>
  <p class="footer"> Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://twitter.com/DataLensDC" target="_blank">Kate Rabinowitz.</a> The code behind this and all of my work is on <a href="https://github.com/katerabinowitz" target="_blank">Github</a>.
  </footer>
  </body>

</html>