<!DOCTYPE HTML>
<hmtl lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css"/>
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <title>Kate Rabinowitz</title>
</head>

<body>
  <div class="title">
    <h2><a href="./homeTest.html">Hi! I'm Kate Rabinowitz.</a></h2>
    <h3>I love using data to inform, inspire, and create change.</h3>
  </div>
  <hr id="top-line">

  <div class="font-awesome">
    <a href="https://twitter.com/dataKateR"><span class="fa fa-twitter"></span></a>
    <a href="https://github.com/katerabinowitz"><span class="fa fa-github"></span></a>
    <a href="https://www.linkedin.com/in/kate-rabinowitz-168b303b/"><span class="fa fa-linkedin-square"></span></a>
    <a href="mailto:datalensdc@gmail.com"><span class="fa fa-envelope"></span></a>
</div>

    {{content}}
  
</body>

</html>